@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@500&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@700&display=swap');

:root{
    --Inter: 'Inter', sans-serif;
    --Manrope: 'Manrope', sans-serif;
    --Poppins: 'Poppins', sans-serif;
    --Roboto: 'Roboto', sans-serif;
}
 /* ///////////////////custom font class ////////////////// */
.font-inter{
    font-family: var(--Inter);
}
.font-monrope{
    font-family: var(--Manrope);
}
.font-poppins{
    font-family: var(--Poppins);
}
.font-roboto{
    font-family: var(--Roboto);
}
/* /////////////////custom font width///////////  */
.font-width-300{
  font-weight: 300;
}
.font-width-400{
  font-weight: 400;
}
.font-width-500{
  font-weight: 500;
}
.font-width-600{
  font-weight: 600;
}
.font-width-700{
  font-weight: 700;
}

/* /////////////////css style apply here  ////////////////*/

body{
    font-family: var(--Poppins);
}
.carousel-hight{
    height: 584px;
}


/* ////////////////////////our package  section/////////////// */
.box-container{
  height: 467px;
  color: #231D4F;
}
.box{
 height: 445px;
 min-width: 230px;
 padding: 20px;
 box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.09);
   
}
.plan-feature{
  list-style: none;
  
 
}

.plan-feature li i{
  color: #5243C2;
  background: rgba(82, 67, 194, 0.103693);
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;

}
.btn-cumstom-css{
  background: #F496D1;
  color: #5243C2;

border-radius: 24px;
border: none;
}


.li-actve{
  background-color: rgb(143, 132, 143);
  position: relative;
  top: -20px;
  box-shadow: 5px 32px 34px rgba(63, 136, 245, 0.37);
  color: white;
  background: #3F87F5;
}
.customize-btn-for-active{
  position: relative;
  top: -10px;
  background-color: white;
}
.li-active li i{
  color: white;
}

/* ///////////////////hot sub section/////////////// */


.sub-Hot{
  position: relative;
  top: -20px;
  left: 20px ;
  font-family: var(--Roboto);
  font-weight: 700;

  float: right;
  background: #FF4E4E;
  font-size: 16px;
  color: #FFFFFF;
  padding: 15px;
  border-radius: 24px;
  border: none;
}